version: '2.1'
services:

  postgresql_CUSTOMER:
    image: 'bitnami/postgresql:11'
    container_name: postgresql_CUSTOMER
    hostname: postgresql_CUSTOMER
    volumes:
      - './postgresql_CUSTOMER_data:/bitnami/postgresql'
    networks:
      cybererp-CUSTOMER-net:
    env_file:
      - ./env_CUSTOMER.conf
    restart: always
    
  odoo_CUSTOMER:
    image: 'bitnami/odoo:12'
    container_name: odoo_CUSTOMER
    hostname: odoo_CUSTOMER
    volumes:  
      - './odoo_data/CUSTOMER:/bitnami'
      - './custom-addons/CUSTOMER/:/bitnami/odoo/addons/'
      - './custom-addons/CUSTOMER-uploads/:/bitnami/odoo/addons-uploads'
    env_file:
      - ./env_CUSTOMER.conf
    networks:
      cybererp-CUSTOMER-net:
    depends_on:
      - postgresql_CUSTOMER
    restart: always  
