version: '2.1'
services:
 
  letsencrypt:
    image: hub.cybergate.lk/cybererp/letsencrypt:1.0.0
    container_name: letsencrypt
    hostname: letsencrypt
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - URL=${URL}
      - SUBDOMAINS=${SUBDOMAINS},
      - EXTRA_DOMAINS=${EXTRA_DOMAINS}
      - VALIDATION=${VALIDATION}
      - EMAIL=${EMAIL}
      - DHLEVEL=${DHLEVEL}
      - ONLY_SUBDOMAINS=${ONLY_SUBDOMAINS}
      - STAGING=${STAGING}
    volumes:
     - ./letsencrypt/config:/config 
    ports:
      - 443:443
      - 80:80 #optional
    restart: always
    networks:
    
