version: '2.1'
services:

  pgadmin:
    image: hub.cybergate.lk/cybererp/pgadmin:1.0.0
    container_name: pgadmin
    hostname: pgadmin
    restart: always
    #ports:
    #  - 8080:8080
    # depends_on:
    #  - postgresql
    networks:
